* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 270px;
  background-color: var(--color-bg);
  color: #212121;
  line-height: 18px;
  user-select: none;
}

body {
  padding: 16px;
}
